* {
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    user-select: none;

    ::-webkit-scrollbar {
        width: 6px;
    }
    // ::-webkit-scrollbar-track {
    //     background-color: $athens-gray;
    //     border-right: 2px solid $white;
    //     border-left: 2px solid $white;
    // }
    ::-webkit-scrollbar-thumb {
        // background-color: $curious-blue;
        background-color: $white;
        border-radius: 10px;
    }

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html,
body {
    font-family: $font-family-custom, $font-family-default;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    background-color: #242424;
}

// html {
//     background-color: $background-color;
// }

// h1 {
//     margin-top: 0;
//     margin-bottom: 0;

//     &:not([class]) {
//         margin-bottom: rem(30px);
//     }
// }

// h2 {
//     margin-top: 0;
//     margin-bottom: 0;

//     &:not([class]) {
//         margin: rem(20px) 0;
//     }
// }

// h3 {
//     margin-top: 0;
//     margin-bottom: 0;

//     &:not([class]) {
//         margin: rem(20px) 0;
//     }
// }

// span {
//     &:not([class]) {
//         color: $heather;
//         display: block;
//     }
// }

// p {
//     margin-top: 0;
//     margin-bottom: 0;

//     letter-spacing: $letter-spacing;

//     &:not([class]) {
//         margin-bottom: rem(20px);
//     }
// }

// ol {
//     margin: 0;
//     padding: 0;

//     &:not([class]) {
//         list-style-type: none;
//         counter-reset: num;

//         max-width: 100%;
//         margin: 0 0 rem(20px) 0;

//         line-height: $line-height-small;

//         li {
//             position: relative;
//             counter-increment: num;

//             padding: 0 0 0 rem(35px);
//             margin: rem(10px) 0 0;

//             line-height: normal;

//             &:before {
//                 position: absolute;
//                 top: 0;
//                 left: 0;

//                 content: counter(num) '.';
//                 width: rem(20px);
//                 transform: translateX(30%);

//                 display: inline-block;
//                 color: $cerise-red;
//                 text-align: right;
//             }

//             ol {
//                 counter-reset: num2;
//                 li {
//                     padding: 0 0 0 rem(44px);
//                     counter-increment: num2;
//                     &:before {
//                         content: counter(num) '.' counter(num2);
//                         transform: translateX(60%);
//                     }

//                     ol {
//                         counter-reset: num3;
//                         li {
//                             padding: 0 0 0 rem(56px);
//                             counter-increment: num3;
//                             &:before {
//                                 content: counter(num) '.' counter(num2) '.' counter(num3);
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// ul {
//     margin: 0;
//     padding: 0;
//     li {
//         list-style: none;
//     }

//     &:not([class]) {
//         line-height: $line-height-small;

//         max-width: 100%;
//         margin-bottom: rem(20px);

//         li {
//             line-height: normal;
//             position: relative;

//             padding: 0 rem(35px);
//             margin-top: rem(10px);

//             &::before {
//                 position: absolute;
//                 left: rem(20px);
//                 top: 0;

//                 content: '';
//                 height: rem(5px);
//                 width: rem(5px);
//                 transform: translateY(150%);

//                 background-color: $cerise-red;
//                 border-radius: 50%;
//             }
//         }

//     }
// }

// blockquote {
//     margin: 0 0 rem(20px);
//     padding: rem(20px) rem(25px);
//     border-left: rem(5px) solid $cerise-red;
//     border-radius: $border-radius-medium;
//     background-color: $alabaster;
//     line-height: $line-height-small;
// }

// a {
//     height: auto;
//     color: $link-color;
//     text-decoration: none;

//     &:hover {
//         transition: $transition-duration $transition-function;
//         text-decoration: underline;
//         cursor: pointer;
//     }
//     &:active {
//         transition: $transition-duration $transition-function;
//         text-decoration: underline;
//         opacity: .5 ;
//         cursor: pointer;
//     }
// }

// form {
//     width: 100%;

//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
// }

// img {
//     &:not([class]) {
//         width: 100%;
//         height: auto;
//         margin-bottom: rem(20px);
//     }
// }
