/**
* Colors
*/
$calypso: #2d7585;
$sea-green: #2d8569;
$swans-down: #e1f0ec;
$outer-space: #30373d;
$granny-smith: #8a9d9f;
$geyser: #d9e1e6;
$link-water: #f1f6fc;
$alabaster: #f9f9f9;
$white: #ffffff;
$cinnabar: #ea4c2f;
$cinderella: #fcd9d9;
$shamrock: #3cd978;
$tulip-tree: #eac12f;

$text-color: $outer-space;
$background-color: $white;
$content-color: $link-water;
$link-color: $outer-space;

/**
* Fonts
*/
$font-family-custom: 'Inter';
$font-family-default: sans-serif;

/**
* Layout
*/
$width-container: 1440px;

/**
* Sizes
*/
$height-header-desktop: 182px;

/**
* Transitions and Animations
*/
$transition-duration: 400ms;
$transition-function: ease-in-out;

/**
* Radius
*/
$border-radius-medium: 5px;
$border-radius-big: 10px;

/**
* Z-indexes
*/
$z-index-header: 50;
$z-index-header-dropdown: 40;
$z-index-modal: 70;
